[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesWatch"]
	path = bayesWatch
	url = https://github.com/sirmurphalot/bayeswatch
[submodule "sawnuti"]
	path = sawnuti
	url = https://github.com/cran/sawnuti
